body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'VNComicSans';
  src: local('VNComicSans'), url(./assets/fonts/VNF-Comic-Sans.ttf) format('truetype');
}

@font-face {
  font-family: 'Linotte-Semi-Bold';
  src: local('Linotte-Semi-Bold'), url(./assets/fonts/r0c0i-Linotte-Semi-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Linotte-Heavy';
  src: local('Linotte-Heavy'), url(./assets/fonts/r0c0i-Linotte-Heavy.ttf) format('truetype');
}